@import "tailwindcss";
body{
  background-color: black;
  font-family: "Poppins", sans-serif;
}
* {
  scrollbar-width:none;
}
.customFont{
  font-family: "Outfit", sans-serif;
}
.shiny-text {
  background: linear-gradient(90deg,red, #EA0029,#bb0022,#870019);
  background-size: 200% 200%;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shiny 3s linear infinite;
}

@keyframes shiny {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.cardShadow {
  box-shadow: 0 0 10px 8px rgba(255, 0, 0, 0.245);
}
